body { 
  background-color: white;
  background-image: url("../images/background-berries-blueberries-1092730.jpg")
 }
 .container {
   background-color: white;
   opacity: 0.8;
 }
 .pageTop {
   background-color: white;
   opacity: 1;
 }
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#articlebtn {
  background-color: teal;
  color: white;
}
.btn-large {
  background-color: teal;
}
h1 {
  color: black;
}
h3 {
    font-size: 20px;
    color: white;
}
h2 {
    font-size: 30px;
    color: black;
}
button {
  margin-bottom: 20px;
}
#notes {
  float: right;
  width: 30%;
  font-size: 20px;
  color: white;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: lightgray;
}
#titleinput {
  color: black;
  background-color: white;
}
#noteHeader {
  background-color: white;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}